body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #50c8ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#scoreBoard {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
}

#gamepad {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: grid;
    grid-template-areas: 
        ". up ."
        "left . right"
        ". down .";
    gap: 10px;
}

#gamepad button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

#upButton {
    grid-area: up;
}

#leftButton {
    grid-area: left;
}

#downButton {
    grid-area: down;
}

#rightButton {
    grid-area: right;
}

#gamepad button:hover {
    background-color: #444;
}